@page
@model BeFit_Website.Pages.Main.HomeModel
@{
    // Retrieve data from the database
    double usedCalories = Math.Ceiling(Model.userMacros.DailyCalories - Model.userMacrosDTO.RemainingDailyCalories);
    double totalCalories = Model.userMacros.DailyCalories;
    double usedCarbs = Math.Ceiling(Model.userMacros.DailyCarbs - Model.userMacrosDTO.RemainingDailyCarbs);
    double totalCarbs = Model.userMacros.DailyCarbs;
    double usedFats = Math.Ceiling(Model.userMacros.DailyFats - Model.userMacrosDTO.RemainingDailyFats);
    double totalFats = Model.userMacros.DailyFats;
    double usedProtein = Math.Ceiling(Model.userMacros.DailyProtein - Model.userMacrosDTO.RemainingDailyProtein);
    double totalProtein = Model.userMacros.DailyProtein;

    // Calculate the completion percentage
    int usedCaloriesPercentage = (int)((double)usedCalories / totalCalories * 100);
    int usedCarbsPercentage = (int)((double)usedCarbs / totalCarbs * 100);
    int usedFatsPercentage = (int)((double)usedFats / totalFats * 100);
    int usedProteinPercentage = (int)((double)usedProtein / totalProtein * 100);

    // Set the style attribute of the progress bar
    string progressCaloriesStyle = $"width: {usedCaloriesPercentage}%";
    string progressCarbsStyle = $"width: {usedCarbsPercentage}%";
    string progressFatsStyle = $"width: {usedFatsPercentage}%";
    string progressProteinStyle = $"width: {usedProteinPercentage}%";
    }
@{

    <link href="~/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/css/home.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <a class="navbar-brand" asp-area="" asp-page="/Main/Home"><img src="~/photos/be-fit12.png" width="80" draggable="false" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-page="/Main/Home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-page="/FoodInfo/SearchForFood">Food <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-page="/Exercises/ShowExercises">Exercises <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-page="/Main/UserFeedbacks">Feedbacks <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Profile</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-page="/UserInfo/EditUserData">Edit Profile</a>
                        <a class="dropdown-item" asp-page="/UserInfo/Login">Log out</a>

                    </div>
                </li>
            </ul>

        </div>
    </nav>
    <div style="margin-top:150px;"></div>
    <div class="calorieContainer">
        <span class="calorieName">Calories [Total:@Model.userMacros.DailyCalories kcl]:</span>
        <span class="calorieInfo">Remaining: @Model.userMacrosDTO.RemainingDailyCalories</span>
        <div class="progress caloriesBarContainer">
            <div class="progress-bar bg-success remaining" role="progressbar" style="@progressCaloriesStyle" aria-valuenow="@usedCaloriesPercentage" aria-valuemin="0" aria-valuemax="100">@usedCalories</div>
        </div>
    </div>
    <div class="otherBarsContainer">
        <div class="carbContainer">
            <span class="barName">Carbs [Total:@Model.userMacros.DailyCarbs g]:</span>
            <span class="barInfo">Remaining: @Model.userMacrosDTO.RemainingDailyCarbs</span>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="@progressCarbsStyle" aria-valuenow="@usedCarbsPercentage" aria-valuemin="0" aria-valuemax="100">@usedCarbs</div>
            </div>
        </div>
        <div class="carbContainer">
            <span class="barName">Fats [Total:@Model.userMacros.DailyFats g]:</span>
            <span class="barInfo">Remaining: @Model.userMacrosDTO.RemainingDailyFats</span>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="@progressFatsStyle" aria-valuenow="@usedFatsPercentage" aria-valuemin="0" aria-valuemax="100">@usedFats</div>
            </div>
        </div>
        <div class="carbContainer">
            <span class="barName">Protein [Total:@Model.userMacros.DailyProtein g]:</span>
            <span class="barInfo">Remaining: @Model.userMacrosDTO.RemainingDailyProtein</span>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="@progressProteinStyle" aria-valuenow="@usedProteinPercentage" aria-valuemin="0" aria-valuemax="100">@usedProtein</div>
            </div>
        </div>
    </div>
    <a asp-page="/FoodInfo/SearchForFood"><button class="btn btn-primary" style="margin-left:45%;background: linear-gradient(to top, #1488cc, #2b32b2);"><i class="fas fa-plus"></i>Add Food</button></a>
    <div class="card-deck">
            <div class="card custom-card">
                <div class="card-header header">
                    <h5 class="card-title">Breakfast</h5>
                </div>
                <div class="card-body">
                @foreach (var obj in Model.selectedFoodList)
                {
                    if (obj.Meal == "Breakfast")
                    {
                        <ul class="list-group list-group-flush text-left">
                            <li class="list-group-item small">
                                @obj.FoodName
                                <span class="calories-count calories">@obj.Calories kcl</span>
                                <form method="post">
                                    <button class="btn btn-link delete-item" type="submit" asp-page-handler="DeleteSelectedFood" asp-route-itemid=@obj.Id><i class="fas fa-trash-alt"></i></button>
                                </form>
                                <br>
                                <span>@obj.Quantity</span>
                            </li>
                        </ul>
                    }
                }
                </div>
            </div>
                <div class="card custom-card">
                    <div class="card-header header">
                        <h5 class="card-title">Lunch</h5>
                    </div>
                    <div class="card-body">
                        @foreach (var obj in Model.selectedFoodList)
                        {
                            if (obj.Meal == "Lunch")
                            {
                                <ul class="list-group list-group-flush text-left">
                                    <li class="list-group-item small">
                                        @obj.FoodName
                                <span class="calories-count calories">@obj.Calories kcl</span>
                                        <form method="post">
                                            <button class="btn btn-link delete-item" type="submit" asp-page-handler="DeleteSelectedFood" asp-route-itemid=@obj.Id><i class="fas fa-trash-alt"></i></button>
                                        </form>
                                        <br>
                                        <span>@obj.Quantity</span>
                                    </li>
                                </ul>
                            }
                        }
                    </div>
                </div>
                <div class="card custom-card">
                    <div class="card-header header">
                        <h5 class="card-title">Dinner</h5>
                    </div>
                    <div class="card-body">
                        @foreach (var obj in Model.selectedFoodList)
                        {
                            if (obj.Meal == "Dinner")
                            {
                                <ul class="list-group list-group-flush text-left">
                                    <li class="list-group-item small">
                                        @obj.FoodName
                                <span class="calories-count calories">@obj.Calories kcl</span>
                                        <form method="post">
                                            <button class="btn btn-link delete-item" type="submit" asp-page-handler="DeleteSelectedFood" asp-route-itemid=@obj.Id><i class="fas fa-trash-alt"></i></button>
                                        </form>
                                        <br>
                                        <span>@obj.Quantity</span>
                                    </li>
                                </ul>
                            }
                        }
                    </div>
                </div>
                <div class="card custom-card">
                    <div class="card-header header">
                        <h5 class="card-title">Snacks</h5>
                    </div>
                    <div class="card-body">
                        @foreach (var obj in Model.selectedFoodList)
                        {
                            if (obj.Meal == "Snacks")
                            {
                                <ul class="list-group list-group-flush text-left">
                                    <li class="list-group-item small">
                                        @obj.FoodName
                                        <span class="calories-count calories">@obj.Calories kcl</span>
                                        <form method="post">
                                            <button class="btn btn-link delete-item" type="submit" asp-page-handler="DeleteSelectedFood" asp-route-itemid=@obj.Id><i class="fas fa-trash-alt"></i></button>
                                        </form>
                                        <br>
                                        <span>@obj.Quantity</span>
                                    </li>
                                </ul>
                            }
                        }
                    </div>
                </div>
    </div>
}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="~/js/bootstrap.bundle.min.js"></script>