@page
@model BeFit_Website.Pages.FoodInfo.SearchForFoodModel
@{

    <link href="~/css/searchforfood.css" rel="stylesheet"/>
    

    <div class="main">
        <div class="jumbotron" id="jumbotron">
            <h1 class="display-4 head" id="display">Here you will find the details of food you ate!</h1>
            <h4>All info is after the food has been cooked.</h4>
            <form method="post" class="form-inline" enctype="multipart/form-data">
                <input asp-for="food.name" class="foorm2" type="search" placeholder="Search" aria-label="Search" required>
                <button asp-page-handler="Search" class="btn btn-primary" id="searchBtn" type="submit">Search</button>
            </form>
        </div>
        <hr class="my-3">
        <h1>Let us share with you your meals!</h1>
        <h2>Here it is:</h2>
        @if (!string.IsNullOrEmpty(Model.food.name))
        {
            <div class="mtable">
                <table class="rtable">
                    <thead>
                        <tr>
                            <th style="font-weight: bold;">Name</th>
                            <th>@Model.food.name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="font-weight: bold;">Calories</td>
                            <td>@Model.food.calories</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Total Fats(g)</td>
                            <td>@Model.food.fat_total_g</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Saturated Fats(g)</td>
                            <td>@Model.food.fat_saturated_g</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Protien(g)</td>
                            <td>@Model.food.protein_g</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Sodium (mg)</td>
                            <td>@Model.food.sodium_mg</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Pottassium(mg)</td>
                            <td>@Model.food.potassium_mg</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Cholestrol(mg)</td>
                            <td>@Model.food.cholesterol_mg</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Carbs(g)</td>
                            <td>@Model.food.carbohydrates_total_g</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Fiber(g)</td>
                            <td>@Model.food.fiber_g</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Sugar(g)</td>
                            <td>@Model.food.sugar_g</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn" id="addBtn" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </div>
        }
        else if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div>
                <span>
                    There were no results for your search.
                    <br>
                    <b>Suggestions:</b>
                    <br>
                    1- Make sure all words are spelled correctly.
                    <br>
                    2- Search by ingredient.
                    <br>
                    3- Try more general keywords like 'apple'.
                </span>
            </div>
        }
        else
        {
            <div class="mtable">
                <table class="rtable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Food Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Calories</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Total Fats(g)</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Saturated Fats(g)</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Protien(g)</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Sodium (mg)</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Pottassium(mg)</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Cholestrol(mg)</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Carbs(g)</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Fiber(g)</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Sugar(g)</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }

        <div class="special">
            <h6>Or you can just add your special food from here..!</h6>
            <a asp-page="/FoodInfo/SpecialFood"> <button type="button" class="btn btn-dark btn-sm">Add special food</button></a>
        </div>


        <!-- Modal -->

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Details of food that you ate!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="Quantity">
                                <label for="tentacles">Quantity:</label>
                                <input type="number" asp-for="Food_SelectedFood.CombinedSelectedFood.Quantity" value="1" step="1" required>
                            </div>
                            <span asp-validation-for="Food_SelectedFood.CombinedSelectedFood.Quantity" class="text-danger"></span>
                            <div class="Weight">
                                <label for="tentacles">Weight(g):</label>
                                <input type="number" asp-for="Food_SelectedFood.CombinedSelectedFood.Weight" value="100" required>
                            </div>
                            <span asp-validation-for="Food_SelectedFood.CombinedSelectedFood.Weight" class="text-danger"></span>
                            <div class="dropdown2">
                                <select asp-for="Food_SelectedFood.CombinedSelectedFood.Meal" required>
                                    <option value="" id="hover" selected="selected" hidden>Select Meal</option>
                                    <option value="Breakfast">Breakfast</option>
                                    <option value="Lunch">Lunch</option>
                                    <option value="Dinner">Dinner</option>
                                    <option value="Snacks">Snack</option>
                                </select>
                            </div>
                            <span asp-validation-for="Food_SelectedFood.CombinedSelectedFood.Meal" class="text-danger"></span>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                <button type="submit" asp-page-handler="AddFood" id="SaveBtn" class="btn btn-primary">Save </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
        <partial name="_NavBar" />
    }
}
